
body{
    background-image: url("doctor.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
table{
    width: 80px;
    margin: auto;
    background: rgb(124,154,167);
}
table.list{
    text-align: center;
    width: 100px;
}
td{
    border:1px solid rgb(204,200,200);
    text-align: left;
    padding: 8px 15px;
}
tr:nth-child(even),table.list thread> tr{
    background-color: rgb(204,200,200);

}
input[type="text"],input[type="datetime"]{
    width: 91x;
    padding: 12px 20px;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid rgb(165,161,161);
    border-radius: 4px;
}

input[type="save"],input[type="reset"]{
background-color:#ddd;
padding:6px 12px ;
margin: 15px 0 10px ;
display: inline-block;
border: none;
border-radius: 30px;
font-size: 1;
cursor: pointer;
outline: none;
}
button[type="save"]:hover{
    background: #4b99d4;
}
button[type="reset"]:hover{
    background: #4b99d4;
}

button{
    background:#4b99;
    padding:6px 12px ;
    margin: 15px 0 10px ;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1;
    cursor: pointer;
    outline:#4b99;  
}
button:hover{
    background:#4b99d4 ;
}